<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/js/jquery.json.js"></script>
    <link rel="shortcut icon" href="/js/favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-dark bg-dark flex-md p-2 ">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">ADMIN PAGE</a>
    <ul class="navbar-nav px-3">
        <a class="nav-link" href="/logout">Logout</a>
    </ul>
</nav>
<div class="row no-gutters" style="height: 3000px; background-color: #DAE0E5">
    <div class="col-sm-2 list-group py-3 bg-light">
        <a href="/admin/all"
           class="list-group-item list-group-item-action rounded-0 border-0 active">
            Admin</a>
        <a href="/user"
           class="list-group-item list-group-item-action rounded-0 border-0 bg-light text-primary">User</a>
    </div>
    <div class="col-10">
        <div class="card col-sm-12 col-block rounded-0 px-4 py-1 border-0" style="background-color: #DAE0E5">
            <h3 class="card-header border-0 px-0" style="background-color: #DAE0E5">Admin panel</h3>

            <div class="card col-sm-12 px-0 border-0">
                <div class="card-header px-0 py-0 border-0" style="background-color: #DAE0E5">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-UsersTable-tab" data-toggle="tab"
                           href="#nav-UsersTable" role="tab" aria-controls="nav-UsersTable">Users
                            table</a>
                        <a class="nav-item nav-link" id="nav-newUser-tab" data-toggle="tab" href="#nav-newUser"
                           role="tab" aria-controls="nav-newUser">New user</a>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-UsersTable" role="tabpanel"
                             aria-labelledby="nav-UsersTable-tab">
                            <div class="card-body px-0 py-0 rounded-0 border-0">
                                <h5 class="card-header border-left border-right border-bottom-0 rounded-0"
                                    style="background-color: #EEEEEE">All users</h5>

                                <div class="table table-sm table-responsive-sm border-left border-right py-0"
                                     style="background-color: white">
                                    <div class="container py-0">
                                        <table class="table table-striped py-0">
                                            <thead id="thead">
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Age</th>
                                                <th>email</th>
                                                <!--                                                <th>password</th>-->
                                                <th>role</th>
                                                <th>state</th>
                                                <th colspan="2" class="text-center">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-newUser" role="tabpanel" aria-labelledby="nav-newUser-tab">

                            <div class="card-body px-0 py-0 rounded-0">
                                <h5 class="card-header border-0 rounded-0" style="background-color: #EEEEEE">New
                                    user</h5>
                                <div class="container  bg-white">
                                    <div class="container col-sm-4">
                                        <form id="add_form" class="form-group-input">

                                            <div class="form-group">
                                                <b class="d-flex justify-content-center">Name:</b>
                                                <input id="newUserName" type="text" name="name" class="form-control"
                                                       placeholder="Login">
                                            </div>
                                            <div class="form-group">
                                                <b class="d-flex justify-content-center">Age:</b>
                                                <input id="newUserAge" type="number" name="age" class="form-control"
                                                       placeholder="Age">
                                            </div>
                                            <div class="form-group">
                                                <b class="d-flex justify-content-center">Email:</b>
                                                <input id="newUserEmail" type="email" name="email" class="form-control"
                                                       placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <b class="d-flex justify-content-center">Password:</b>
                                                <input id="newUserPass" type="password" name="password"
                                                       class="form-control"
                                                       placeholder="Password">
                                            </div>
                                            <div class="row px-5">

                                                <div class="col-sm">
                                                    <div class="form-group form-check-inline">
                                                        <label class="form-check-label" for="adm">
                                                            <b>Role:_</b>
                                                        </label>
                                                        <input class="form-check-input" type="checkbox" name="role"
                                                               value="1" id="adm">
                                                        <label class="form-check-label" for="adm">
                                                            Admin
                                                        </label>

                                                        <input class="form-check-input" type="checkbox" name="role"
                                                               value="2" id="us">
                                                        <label class="form-check-label" for="us">
                                                            User
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button id="btn" type="submit" class="btn btn-success">Add new user
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="editUserModal"
                             tabindex="-1"
                             role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">

                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel"></h5>
                                        <button type="button" class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-group-input" id="editUserForm">
                                            <b class="d-flex justify-content-center">ID:</b>
                                            <input id="hidEditID"
                                                   type="text" name="id"
                                                   class="form-control"
                                                   value="" placeholder="ID" readonly/>
                                            <!--                                            <input id="hidEditPASS" type="hidden" name="oldPass" value="">-->

                                            <b class="d-flex justify-content-center">Name:</b>
                                            <input id="editName"
                                                   type="text" name="name"
                                                   class="form-control"
                                                   value="NAME">

                                            <b class="d-flex justify-content-center">Age:</b>
                                            <input id="editAge"
                                                   type="number" name="age"
                                                   class="form-control"
                                                   value="99"/>
                                            <b class="d-flex justify-content-center">Email:</b>
                                            <input id="editEmail"
                                                   type="text" name="email"
                                                   class="form-control"
                                                   value="EMAIL"/>
                                            <b class="d-flex justify-content-center">Password:</b>
                                            <input id="editPass"
                                                   type="password"
                                                   name="newPass" class="form-control"
                                                   value=""><br/>
                                            <div class="form-row">
                                                <div class="col-6 ">
                                                    <label class="mr-sm-2" for="selectorEdit">State:</label>
                                                    <select class="custom-select mr-sm-2" name="state"
                                                            id="selectorEdit">

                                                        <option class="opt" id="optionUserState"
                                                                value="${user.state}">
                                                        </option>
                                                        <option class="opt" value="DELETED">DELETED</option>
                                                        <option class="opt" value="ACTIVE">ACTIVE</option>
                                                        <option class="opt" value="BANNED">BANNED</option>
                                                    </select><br/>
                                                </div>

                                                <div class="col-6 px-4" id="role">
                                                    <div class="row ">Role</div>
                                                    <div class="row px-4">
                                                        <input class="form-check-input" type="checkbox" name="role"
                                                               value="1" id="admEdit">
                                                        <label class="form-check-label" for="admEdit">Admin</label>
                                                    </div>
                                                    <div class="row px-4">
                                                        <input class="form-check-input" type="checkbox" name="role"
                                                               value="2" id="usEdit">
                                                        <label class="form-check-label" for="usEdit">User</label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button id="dismissModal"
                                                        type="button"
                                                        class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-primary">Save changes
                                                </button>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>
