<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!--Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    <link rel="stylesheet" th:href="@{css/formatting.css}">-->

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<nav th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand inline">
            <b th:text="${user.getEmail()}">name</b> with roles:
            <b class="font-weight-normal" th:text="${user.showRoles()}">name</b>
        </div>
        <div>
            <a href="/logout" class="text-muted">Logout</a>
        </div>
    </nav>
</nav>


</html>