<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="layouts:: header"></head>
    <title>User page</title>
</head>
<body>

<nav th:replace="layouts:: navbar"></nav>

<div class="row pt-4 bg-light justify-content-start">
    <div class="col col-md-2 bg-white flex-column mb-2">
        <ul class="nav flex-column nav-pills ">
            <div sec:authorize="hasAnyRole('ADMIN')">
                <a th:href="@{/admin/}" class="list-group-item">Admin</a>
            </div>
            <div>
                <a class="nav-link active" href="/user/">User</a>
            </div>
        </ul>
    </div>

    <div class="col-md -10 bg-light">
        <div class="container">
            <div class="h1">User information-page</div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="users">
                    <table class="table">
                        <tr>
                            <th>
                                <h5 class="container">About user</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>E-mail</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="users : ${user}" class="font-weight-normal">
                                        <td th:utext="${users.getId()}"></td>
                                        <td th:utext="${users.getName()}"></td>
                                        <td th:utext="${users.getLastname()}"></td>
                                        <td th:utext="${users.getAge()}"></td>
                                        <td th:utext="${users.getEmail()}"></td>
                                        <td th:utext="${users.showRoles()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
